.reporting-section {
    padding: 0 4.5vw;
    background-color: var(--greenBack-color);
    height: 100%;
}

.reporting-title {
    text-align: center;
    font-weight: 600;
    font-size: 3.5vw;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    color: var(--greenText-color);
}

.container-block-reporting {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10vw;
}

.block-reporting {
    display: flex;
    flex-direction: column;
    width: 34.5vw;
    height: 39.5vw;
    border-radius: 1.5vw;
    background-color: #fff2c0;
    border: solid 0.125vw #000;
}

.header-block-reporting {
    font-family: 'Rubik', sans-serif;
    color: var(--blueText-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vw;
    font-size: 2.2vw;
    font-weight: 550;
    width: 100%;
    border-bottom: 0.125vw solid black;
}

.mid-block-reporting {
    padding: 1.25vw 1.25vw 1vw 1.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--blueText-color);
    font-size: 2vw;
    font-weight: 800;
    height: 27.5vw;
}

.block-bot-text{
    display: flex;
    align-items: flex-end;
}

.block-top-text p, .block-bot-text p {
    width: 100%;
    text-align: justify;
}

.btn-block-reporting {
    border-top: 0.125vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 1vw;
}

.btn-block-reporting p {
    font-size: 2.5vw;
    font-weight: 600;
    color: var(--blueText-color);
}

.btn-block-reporting p:hover {
    color: #028bbd;
    transition: 0.35s;
}


.container_our-part {
    padding-top: 4vw;
}


.title_our-part {
    color: var(--greenText-color);
    font-weight: 600;
    font-size: 2.8vw;
}

.container-part {
    padding-top: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5vw;
}

.block-part-img {
    display: flex;
    gap: 6vw;
}

.block-part-img:first-child {
    padding-right: 4vw;
}

.block-part-img:last-child {
    padding-left: 4vw;
}

.block-part-img img {
    width: 8vw;
    height: auto;
}



@media (max-width: 1024px) {
    .container-block-reporting {
        flex-direction: column;
        align-items: center;
        gap: 4vw;
    }

    .block-reporting {
        width: 42.5vw;
        height: 44vw;
        border-radius: 2vw;
    }
    
    .header-block-reporting {
        height: 6.5vw;
        font-size: 2.8vw;
    }
    
    .mid-block-reporting {
        padding: 1.2vw 1.2vw 1vw 1.2vw;
        font-size: 2.2vw;
        height: 28vw;
    }

    .btn-block-reporting {
        padding-top: 1.25vw;
    }
    
    .btn-block-reporting p {
        font-size: 3.5vw;
        font-weight: 600;
        color: var(--blueText-color);
    }

    .container-part {
        flex-direction: column;
        row-gap: 4.5vw;
        padding-bottom: 0;
    }
    
    .block-part-img {
        display: flex;
        justify-content: space-evenly;
    }
    
    .block-part-img:last-child {
        padding-bottom: 3vw;
        padding-left: 0;
    }

    .block-part-img:first-child {
        padding-right: 0vw;
    }
    
    .block-part-img img {
        width: 12vw;
        height: auto;
        gap: 6vw;
    }
    
}